
<div class="clearfix">
   <%= f.label :user_id, t("activerecord.attributes.room.user_id", :default => "User"), :class => :label %>
  <div class="input">
    <%= f.number_field :user_id, :class => 'number_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :name, t("activerecord.attributes.room.name", :default => "Name"), :class => :label %>
  <div class="input">
    <%= f.text_field :name, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :description, t("activerecord.attributes.room.description", :default => "Description"), :class => :label %>
  <div class="input">
    <%= f.text_area :description, :class => 'text_area' %>
  </div>
</div>
<div class="form-actions">
  <button class="btn primary" type="submit">Save</button> or
	<%= link_to "Cancel", rooms_path %>
</div>
