<h1>Rooms</h1>
<table class="table table-striped">
 <thead>
  <tr>
    <th>ID</th>
        <th>
      <%= t("activerecord.attributes.room.user_id", :default => t("activerecord.labels.user_id", :default => "User_id")) %>
    </th>
        <th>Created at</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @rooms.each do |room| -%>
   <tr>
    <td><%= room.id %></td>
        <td><%= link_to room.user_id, room_path(room) %>
    </td>
        <td><%= room.created_at %></td>
    <td>
      <%= link_to "Show", room_path(room) %>
      <%= link_to "Edit", edit_room_path(room) %>
      <%= link_to "Destroy", room_path(room), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>

<%= link_to "New", new_room_path, :class => 'btn btn-primary' %>
