
<label class="label"><%= t("activerecord.attributes.room.user_id", :default => t("activerecord.labels.user_id", :default => "User")) %>:</label>
<p><%= @room.user_id %></p>

<label class="label"><%= t("activerecord.attributes.room.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</label>
<p><%= @room.name %></p>

<label class="label"><%= t("activerecord.attributes.room.description", :default => t("activerecord.labels.description", :default => "Description")) %>:</label>
<p><%= @room.description %></p>

<div class="form-actions">
<%= link_to "Back", rooms_path, :class => 'btn'  %>
<%= link_to "Edit", edit_room_path(@room), :class => 'btn' %>
<%= link_to "Delete", room_path(@room), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn' %>
</div>
