.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: 'navbar-brand' do
        We love heroku
    .collapse.navbar-collapse
      .navbar-form.navbar-left.search_poem{role: "search"}
        .form-group
          = render('sites/search_form')
      %ul.nav.navbar-nav.nav-left.nav-pills
        %li
          = link_to sites_path(q: {please_design_eq: true}) do
            %i.glyphicon.glyphicon-filter
            = t('nav.sites.please_design')
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
              = image_tag(current_user.image, alt: current_user.name, class: 'img-circle', size: '40x40')
              = "#{current_user.name}"
              %b.caret
            %ul.dropdown-menu
              %li=link_to t('nav.users.show'), user_path(current_user)
              %li=link_to t('nav.common.sign_out'), destroy_user_session_path, method: :delete
        - else
          %li
            = link_to signin_path do
              %i.icon-twitter
              = t('nav.common.sign_in')
