<%= form_for(@site, html:{class: 'form-horizontal'}) do |f| %>
  <% if @site.errors.any? %>
 
    <div class="alert alert-block alert-error fade in">
             <a class="close" data-dismiss="alert" href="#">&times;</a>
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  
  <% end %>
<fieldset>
  <div class="control-group">
    <%= f.label :name, class: 'control-label'%>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :url, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :url, class: 'span5' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, class: 'span5' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :repository_url, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :repository_url, class: 'span5' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :creator, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :creator %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :hash_tag, class: 'control-label' %>
    <div class="controls">
     <%= f.text_field :hash_tag %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :please_design, class: 'control-label' %>
    <div class="controls">
     <%= f.check_box :please_design %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :scheduled_access, class: 'control-label' %>
    <div class="controls">
     <%= f.check_box :scheduled_access %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit 'save', class:['btn', 'btn-primary'] %>
    <%= link_to 'cancel', root_path, class: 'btn'%>
  </div>
</fieldset>
<% end %>
