<div class="page-header">
<h2><%=t('sites._index.h2')%></h2>
</div>
<div id="sites">
  <% if sites.present? %>
  <%= paginate sites %>
  <ul class="thumbnails">
  <% sites.each do |site| %>
    <li><%= render 'sites/site', :site => site %></li>
  <% end %>
  </ul>
  <%= paginate sites %>
  <% else %>
  <p class="alert alert-info">
    <%= t("sites._index.#{params[:keyword].present?.to_s}.nothing_html") %>
  </p>
  <% end %>
</div>