.page-header
  %h2= title
#sites
  - if sites.present?
    = paginate sites
    %ul.list-unstyled.thumbnails.sites
      = content_tag_for(:li, sites) do |site|
        = render 'sites/site', :site => site
    = paginate sites
