.row
  .col-sm-3
    = link_to site.url, class: 'thumbnail', target: '_blank' do
      = site_thumnail(site.url)
  .col-sm-9
    %h3
      - if site.please_design?
        %span.badge.badge-important= Site.human_attribute_name(:please_design)
      = link_to site.name, site
    = simple_format auto_link(truncate(site.description, length: 300), link: :urls, html: {target: '_blank'})
    %p= link_to 'more...', site_path(site)
    = link_to t('.detail'), site_path(site), class: 'btn btn-default btn-lg'
