<div class="row">
  <div class="span3">
    <%=link_to site.url, :class => 'thumbnail', :target => '_blank' do %>
      <%=image_tag image_site_path site %>
    <% end %>
  </div>
  <div class="span6">
    <h3>
    <%= link_to site.name, site %>
    </h3>
    <%=render 'shared/sns_buttons', :site => site %>
    <%= simple_format auto_link(truncate(site.description, :length => 300), :link => :urls, :html => {:target => '_blank'}) %>
    <p><%=link_to 'more...', site_path(site)%></p>
    <%= link_to t('sites._site.detail'), site_path(site), :class => 'btn' %>
  </div>
</div>
