<% content_for :head do %>
  <%= auto_discovery_link_tag :atom, sites_path(:format => :atom) %>
  <%= render 'shared/og_graph', {
    title: 'we love heroku',
    type: "website",
    url: root_url,
    image: 'http://welove.herokuapp.com/assets/weloveheroku.png',
    description: "Share your site on Heroku!It's gallery that web service powered by Heroku.",
  }
  %>
<% end %>
<% if params[:keyword].nil? %>
  <% content_for :body_class, 'show_sites_pickup'%>
<% end %>
<%=render 'shared/sns_buttons', :site => Site.new(:name => 'we love heroku', :url => 'http://welove.herokuapp.com', :hash_tag => 'weloveheroku') %>
<div class="hero-unit">
  <h1><%=t(".h1")%></h1>
  <%=t(".description_html")%>
</div>
<% if params[:keyword].nil? %>
<div class="page-header">
<h2><%=t(".random_pickups.h2")%></h2>
</div>
<ul id="pickup_sites" class="thumbnails">
</ul>
<% end %>
<%=render 'sites/index', :sites => @sites %>
