<% content_for :head do %>
  <%= auto_discovery_link_tag :atom, sites_path(:format => :atom) %>
<% end %>
<%=render 'shared/sns_buttons', :site => Site.new(:name => 'we love heroku', :url => 'http://welove.herokuapp.com', :hash_tag => 'weloveheroku') %>
<div class="hero-unit">
  <h1><%=t(".h1")%></h1>
  <%=t(".description_html")%>
</div>
<% if params[:keyword].nil? %>
<ul class="thumbnails">
  <% @pickups.each do|site|%>
  <li class="span3">
    <div class="thumbnail">
      <%=link_to site.url, :target => '_blank' do %>
        <%=image_tag "http://capture.heartrails.com/large/delay=1?#{site.url}", :size => '260x180' %>
      <% end %>
      <h5><%=site.name%></h5>
      <p>
        <%=truncate(site.description, :length => 100)%>
        <%=link_to 'more...', site_path(site)%>
      </p>
    </div>
  </li>
  <% end %>
</ul>
<% end %>
<%=render 'sites/index', :sites => @sites %>
