<% content_for :tw_search_key, @site.hash_tags %>
<%=render 'shared/sns_buttons', :site => @site %>
<section id="show" class="well">
<h1><%= @site.name %></h1>
<div>
  <%= simple_format auto_link(@site.description, :link => :urls, :html => {:target => '_blank'}) %>
</div>

<dl>
  <dt>Url</dt>
  <dd><p><%= auto_link(@site.url, :link => :urls, :html => {:target => '_blank', :class => :target_blank}) %></p></dd>
  <% if @site.repository_url.present? %>
  <dt>Repository Url</dt>
  <dd><p><%= auto_link(@site.repository_url, :link => :urls, :html => {:target => '_blank', :class => :target_blank}) %></p></dd>
  <% end %>
  <dt>Creator</dt>
  <dd><p><%= @site.creator %></p></dd>
  <% if @site.hash_tag.present? %>
  <dt>Has tag</dt>
  <dd><%=link_to "##{@site.hash_tag.split(' ').join(' #')}", "http://twitter.com/search?q=#{CGI::escape(@site.hash_tags)}" %></dd>
  <% end %>
  
  <% if @site.user.present? %>
  <dt>Registerd By</dt>
  <dd><%= render 'users/user', :user => @site.user %></dd>
  <% end %>
</dl>
</section>

<% if user_signed_in? && current_user.id == @site.user_id %>
<div class="form-actions">
<%= link_to edit_site_path(@site), class: ['btn btn-primary'] do %><i class="icon-pencil icon-white"></i>Edit<% end %>
</div>
<section>
  <h3><%= t('.delete.h1')%></h3>
  <%= t('.delete.description') %>
  <div class="form-actions">
    <%= link_to site_path(@site), class: ['btn btn-danger'], :method => :delete, :confirm => t('.delete.confirm') do %><i class="icon-trash icon-white"></i>Delete<% end %>
  </div>
</section>

<% end %>
